*{
    font-family: Arial;
}
body{
    padding: 0;
    margin: 0 auto;
    background-color: lightcyan;
}
main{
    width: 400px;
    height: 300px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
h1{
    font-size: 20px;
    padding: 0;
    margin: 0;
}
header{
    height: 70px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
header h1{
    font-size: 60px;
}
#history{
    text-align: center;
    margin: 0 auto;
    height: auto;
    width: 300px;
    border: 1px solid black;
}
.write{
    height: 50px;
    width: 400px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: right;
    font-size: 25px;
    display: block;
}
.buttons input{
    height: 60px;
    width: 70px;
    margin: 5px 3px;
}
.number{
    background-color: #88a2bc;
    transition: 0.5s;
}
.number:hover{
    background-color: black;
    color: #88a2bc;
}
.points{
    background-color: #4f6a8f;
    transition: 0.5s;
}
.points:hover{
    background-color: #202e32;
    color: #4f6a8f;
}
.link{
    font-size: 15px;
    float: left;
}
footer{
    width: 100%;
    height: 50px;
    background-color: #fff;
    text-align: center;
}